VITE_PRODUCTS_API_URL=http://localhost:8000
VITE_USERS_API_URL=http://localhost:8002
VITE_ORDERS_API_URL=http://localhost:8003
VITE_INVENTORY_API_URL=http://localhost:8001
VITE_PAYMENT_API_URL=http://localhost:8005
VITE_NOTIFICATION_API_URL=http://localhost:8004
VITE_AI_CHATBOT_API_URL=http://localhost:8006
VITE_AI_DESIGN_API_URL=http://localhost:8007
